@charset "utf-8";

// 배경 그라데이션
$gradient-color-1: #c47974;

$gradient-color-2: #39737b;
$gradient-color-2-stop: 25%;

$gradient-color-3: #212f3e;
$gradient-color-3-stop: 55%;

$gradient-color-4: #9a4c6a;
