@charset "UTF-8";
@font-face {
  font-family: "BIGJOHN";
  src: url(/fonts/BIG_JOHN-webfont.eot);
  src: url(/fonts/BIG_JOHN-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/BIG_JOHN-webfont.woff2) format("woff2"), url(/fonts/BIG_JOHN-webfont.woff) format("woff"), url(/fonts/BIG_JOHN-webfont.ttf) format("truetype"); }
body {
  font-family: 'Montserrat','NanumGothic','나눔고딕','NanumGothicWeb',ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
  background: #000;
  color: #fff; }

.body-bottom {
  background-image: linear-gradient(to bottom, #977E5C 0%, #977F5C 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF977E5C', endColorstr='#FF977F5C', GradientType=0); }

div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, p, button, input, textarea, select, a {
  font-family: 'Montserrat','NanumGothic','나눔고딕','NanumGothicWeb',ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  margin: 0;
  padding: 0;
  /*font-size: 100%;*/
  font-size: 1.05em; }

.upper-case {
  font-family: 'BIGJOHN';
  text-transform: uppercase; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ol, ul {
  list-style: none;
  padding: 0; }

li {
  display: list-item; }

a,
a:visited {
  text-decoration: none !important;
  cursor: pointer;
  color: #fdc444; }

a:hover {
  /* link color? */
  color: #fdc444; }

p {
  word-break: normal; }

h1 {
  font-size: 2.0em;
  padding: 10px 0; }

h2 {
  font-size: 1.5em;
  padding: 10px 0; }

h3 {
  font-size: 1.2em;
  padding: 10px 0; }

table {
  padding: 10px 0; }

@media only screen and (max-width: 568px) {
  h1 {
    padding-left: 10px; }

  h2 {
    padding-left: 10px; }

  h3 {
    padding-left: 10px; }

  table {
    padding-left: 10px;
    padding-right: 10px; }

  p {
    padding-left: 10px;
    padding-right: 10px; } }
.body-top {
  background-image: linear-gradient(to bottom, #6A9386 0%, #6B9386 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6A9386', endColorstr='#FF6B9386', GradientType=0); }

.header-title .game-logo {
  padding: 50px 0 50px 0; }

.header-title .game-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 300px;
  width: 100%; }

@media only screen and (min-width: 720px) {
  .header-title .game-logo img {
    max-width: 400px; } }
.body-middle {
  height: 300px;
  background-image: linear-gradient(to bottom, #6B9386 0%, #977E5C 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6B9386', endColorstr='#FF977E5C', GradientType=0); }

@media only screen and (min-width: 720px) {
  .body-middle {
    height: 500px; } }
.header-cube {
  margin: auto; }

.header-cube .underlay-cube {
  width: 100%;
  height: 300px;
  position: relative;
  /*
  bg-top 다음에 이어졌으면 좋겠다
  top: 0px;
  */
  top: 0px;
  left: 0px;
  background: transparent url(/img/index/cube.png) center center no-repeat;
  background-size: contain;
  z-index: 1; }

@media only screen and (min-width: 720px) {
  .header-cube .underlay-cube {
    height: 500px; } }
.play-trailer-wrapper {
  text-align: center;
  padding: 10px 0 20px 0; }

.play-trailer {
  display: inline-block; }

.play-trailer img {
  width: 80px; }

.trailer-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* 처음에는 숨기기 */
  display: none; }

.trailer-video .video-wrapper {
  position: relative;
  top: 5%;
  width: 90%;
  height: 90%;
  margin: auto; }

@media only screen and (max-width: 568px) {
  .trailer-video .video-wrapper {
    top: 25%;
    height: 50%;
    width: 90%; } }
.trailer-video .video-wrapper iframe {
  width: 100%;
  height: 100%; }

.download {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  color: #fdc444;
  text-align: center; }

.download a {
  display: inline-block; }

.download .store-logo {
  box-sizing: border-box;
  width: auto;
  height: 80px; }

.download .store-logo-gearvr {
  display: block;
  margin: 0 auto;
  padding: 10px 0; }

.download .store-logo-google-play {
  display: block;
  margin: 0 auto;
  padding: 10px 0; }

.download .store-logo-app-store {
  display: block;
  margin: 0 auto;
  padding: 10px 0; }

.index-desc {
  text-align: center;
  padding: 20px 0;
  line-height: 1.8em;
  word-break: normal; }

.index-desc-large {
  margin: auto;
  width: 100%;
  padding: 30px 0; }

.index-desc-summary {
  margin: auto;
  width: 100%;
  padding: 30px 0;
  font-size: 1em; }

.content {
  margin: auto;
  max-width: 720px;
  width: 100%; }

.list-features {
  padding: 10px 0 10px 3.0em;
  font-size: 0.8em; }

.list-features li {
  padding: 0.3em 0; }

@media only screen and (max-width: 568px) {
  .list-features {
    padding-left: 0.4em; } }
.list-features li:before {
  content: "• ";
  color: #fdc444; }

.footer-head {
  text-align: center;
  padding: 70px 0; }

.footer-head li {
  padding: 0.5em 0; }

.footer-tail {
  text-align: center;
  background: #000;
  margin: auto;
  width: 100%;
  padding-bottom: 30px; }

.footer-tail small {
  font-size: 70%; }

.screenshot {
  padding: 3px;
  box-sizing: border-box;
  width: 100%; }

.download-content {
  text-align: center; }

.company-logo {
  display: block;
  margin: 0 auto;
  padding: 20px 0; }

.company-logo {
  width: 300px; }

.press-content img {
  margin: auto; }

.press-content table {
  border: 0;
  margin-bottom: 40px; }

.press-content table th,
.press-content table td {
  border: 0; }

.press-content table thead {
  display: none; }

.press-content h1 {
  margin-top: 60px; }

.press-content p,
.press-content ul,
.press-content ol {
  line-height: 1.5em;
  padding-bottom: 40px; }
