@charset "utf-8";

@import "variables";
@import "mixins";
@import "utilities";
@import "fonts";

body {
    font-family: 'NotoSans-Regular', 'Montserrat','NanumGothic','나눔고딕','NanumGothicWeb',ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    @include gradient-y(
        $gradient-color-1, 0%,
        $gradient-color-2, $gradient-color-2-stop,
        $gradient-color-3, $gradient-color-3-stop,
        $gradient-color-4, 100%
    );
    color: #fff;
}

div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,p,button,input,textarea,select,a {
    font-family: 'NotoSans-Regular', 'Montserrat','NanumGothic','나눔고딕','NanumGothicWeb',ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp {
    border: 0;
    margin: 0;
    padding: 0;
    /*font-size: 100%;*/
    font-size: 1.05em;
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

ol,ul {
    list-style: none;
    padding: 0;
}

li {
    display: list-item;
}

a,
a:visited {
    text-decoration: none !important;
    cursor: pointer;
    color: #fdc444;
}
a:hover {
    /* link color? */
    color: #fdc444;
}

p {
    word-break: normal;
}

h1 {
    font-size: 2.0em;
    padding: 10px 0;
}
h2 {
    font-size: 1.5em;
    padding: 10px 0;
}
h3 {
    font-size: 1.2em;
    padding: 10px 0;
}
table {
    padding: 10px 0;
}

@media only screen and (max-width: 568px) {
    h1 {
        padding-left: 10px;
    }
    h2 {
        padding-left: 10px;
    }
    h3 {
        padding-left: 10px;
    }
    table {
        padding-left: 10px;
        padding-right: 10px;
    }
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header-title .game-logo {
    padding: 100px 0 40px 0;
}
.header-title .game-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    width: 100%;
    max-width: 480px;
}

.header-cube .cube-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.header-cube .cube-video {
    display: none;

    #game-play-video-orig {
        // display: none으로 하면
        // PC에서는 문제 없는데
        // 모바일에서는 자동재생이 되지 않더라
        // 그래서 구석에 1px로 만들어서 숨김
        position: absolute;
        bottom: 0px;
        display: block;
        width: 1px;
        height: 1px;

        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    #game-play-video-transparent {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

.play-trailer-wrapper {
    text-align: center;
    padding: 35px 0 35px 0;
}
.play-trailer {
    display: inline-block;
}
.play-trailer img {
    width: 110px;
}

.trailer-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    background-color:rgba(0, 0, 0, 0.5);

    z-index: 1;

    /* 처음에는 숨기기 */
    display: none;
}
.trailer-video .video-wrapper {
    position: relative;
    top: 5%;

    width: 90%;
    height: 90%;
    margin: auto;
}
@media only screen and (max-width: 568px) {
    .trailer-video .video-wrapper {
        top: 25%;
        height: 50%;
        width: 90%;
    }
}


.trailer-video .video-wrapper iframe {
    width: 100%;
    height: 100%;
}

.download {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2em;
    color: #fdc444;
    text-align: center;
}

.download a {
    display: inline-block;
}

.download .store-logo {
    box-sizing: border-box;
    width: auto;
    height: 80px;
}

.download .store-logo-gearvr {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.download .store-logo-google-play {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.download .store-logo-app-store {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.index-desc {
    text-align: center;
    padding: 20px 0;
    line-height: 1.5em;
    letter-spacing: 1px;
    word-break: normal;
}

.index-desc-large {
    margin: auto;
    width: 100%;
    padding: 80px 0;
    letter-spacing: 2px;
    line-height: 1.8em;
}

.index-desc-summary {
    line-height: 2.0em;
}
.index-desc-summary span {
}

.content {
    margin: 0 25px;
    // mobile
    max-width: 720px;
}
@media only screen and (min-width: 720px) {
    // desktop
    .content {
        margin: auto;
        max-width: 720px;
        width: 100%;
    }
}

.list-features {
    padding: 10px 0 40px 3.0em;
    font-size: 0.8em;
}

.list-features li {
    padding: 0.4em 0;
    line-height: 1.6em;
}

@media only screen and (max-width: 568px) {
    .list-features {
        padding-left: 0.4em;
    }
}


.list-features li:before {
    content: "• ";
    color: #fdc444;
}


.footer-head {
    text-align: center;
    padding: 120px 0;
}
.footer-head li {
    font-size: 1em;
    padding: 0.2em 0;
}


.footer-tail {
    text-align: center;
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
}
.footer-tail small {
    font-size: 70%;
}

.subtitle {
    padding: 70px 0 20px 0;
    letter-spacing: 2px;
    font-family: 'NotoSans-Bold'
}

// PC에서는 자유로운 배치
// 모바일은 일렬로 배치
// 모바일에서 리사이징까지 고려해서 위치잡기 어려우니까
.popup-gallery {
}
.cube-wrapper {
    padding: 20px 0;
    width: 100%;
}
.cube-wrapper-1 {
}
.cube-wrapper-2 {
}
.cube-wrapper-3 {
}
.cube-wrapper-4 {
}
@media only screen and (min-width: 720px) {
    .popup-gallery {
        height: 1300px;
        position: relative;
    }
    .cube-wrapper {
        padding: 0;
        width: auto;
    }
    .cube-wrapper-1 {
        position: absolute;
        top: 0px;
        padding: 0 0 0 300px;
    }
    .cube-wrapper-2 {
        position: absolute;
        top: 300px;
        padding: 0 200px 0 0;
    }
    .cube-wrapper-3 {
        position: absolute;
        top: 600px;
        padding: 0 0 0 300px;
    }
    .cube-wrapper-4 {
        position: absolute;
        top: 900px;
        padding: 0 200px 0 0;
    }
}

.screenshot {
    padding: 3px;
    box-sizing: border-box;
    width: 100%;
}

.download-content {
    text-align: center;
}

.company-logo {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}
.company-logo {
    width: 120px;
}

.press-content img {
    margin: auto;
}

.press-content table {
    border: 0;
    margin-bottom: 40px;
}
.press-content table th,
.press-content table td {
    border: 0;
}
.press-content table thead {
    display: none;
}
.press-content h1 {
    margin-top: 60px;
}
.press-content p,
.press-content ul,
.press-content ol {
    line-height: 1.5em;
    padding-bottom: 40px;
}
