{% extends 'layout.j2' %}

{% block content %}
{# game title #}
<header class="header-title">
  <h1 hidden>Brickscape</h1>
  <div class="game-logo">
    <img src="/img/logos/title.png"/>
  </div>
</header>

{# cube #}
<header class="header-cube">
  {# cube image #}
  <div class="cube-image">
    <img src="/img/index/cube-resize.png"/>
  </div>

  {# cube video #}
  <div class="cube-video">
    <video id="game-play-video-orig" width="480" height="320" loop muted/>
      <source src="/img/index/game-play.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <canvas id="game-play-video-transparent" width="640" height="480"></canvas>
  </div>
</header>

{# play trailer #}
<div class="play-trailer-wrapper">
  <a href="#" class="play-trailer">
    <img src="/img/index/moviebt.png"/>
  </a>
</div>

<section class="trailer-video">
  <div class="video-wrapper">
  <iframe width="640" height="390" class="youtube-player-iframe"
    src="https://www.youtube.com/embed/zEe9A-R7IB8?enablejsapi=1&version=3&playerapiid=ytplayer"
    allowscriptaccess="always"
    frameborder="0" allowfullscreen></iframe>
  </div>
</section>

{# download badges #}
<div class="download">
  <a href="https://play.google.com/store/apps/details?id=com.fiveminlab.brickscape" class="anchor" target="_blank">
    <img src="/img/index/badges/en_badge_web_generic.png" class="pure-img store-logo store-logo-google-play" alt="google play version/">
  </a>
  <br/>
  <a href="https://itunes.apple.com/us/app/brickscape/id1233962836?mt=8" class="anchor" target="_blank">
    <img src="/img/index/badges/Download_on_the_App_Store_Badge_US-UK_135x40.svg" class="pure-img store-logo store-logo-app-store" alt="app store version/">
  </a>
</div>

{# content #}
<div class="content">
<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc index-desc-large">
      <span>
      {{ short_desc | nl2br }}
      </span>
    </p>
  </div>
</div>

{# screenshots #}
<div class="pure-g popup-gallery">
  <div class="cube-wrapper cube-wrapper-1">
    <a href="/img/screenshots/resize_large_01.jpg" title="">
      <img src="/img/screenshots/cube-resize_01.png" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="cube-wrapper cube-wrapper-2">
    <a href="/img/screenshots/resize_large_02.jpg" title="">
      <img src="/img/screenshots/cube-resize_02.png" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="cube-wrapper cube-wrapper-3">
    <a href="/img/screenshots/resize_large_03.jpg" title="">
      <img src="/img/screenshots/cube-resize_03.png" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="cube-wrapper cube-wrapper-4">
    <a href="/img/screenshots/resize_large_04.jpg" title="">
      <img src="/img/screenshots/cube-resize_04.png" class="pure-img screenshot"/>
    </a>
  </div>
</div>


<div class="pure-g">
  <div class="pure-u-1">
    <h2 class="index-desc upper-case subtitle">
      {{ how_to_play }}
    </h2>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc">
      {{ how_to_play_content | nl2br }}
    </p>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h2 class="index-desc upper-case subtitle">
      {{ feature }}
    </h2>
  </div>
</div>

<div class="pure-g">
  <ul class="pure-u-1 list-features">
    {% for el in feature_list %}
    <li class="">{{ el }}</li>
    {% endfor %}
  </ul>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc index-desc-summary subtitle upper-case">
      <span>
      {{ play_message }}
      </span>
    </p>
  </div>
</div>

<footer class="pure-g content footer-head">
  <ul class="pure-u-1">
    <li class="">
      Like Our <a href="https://www.facebook.com/5minlab/">Page!</a>
    </li>
    <li class="">
      Need Support? <a href="mailto:helpers@5minlab.com">Mail us</a>
    </li>
    <li class="">
      For business enqueries <a href="mailto:contact@5minlab.com">Here</a>
    </li>
    <!--
    <li class="">
      Press kit: <a href="{{ press_link }}">Brickscape Press Kit</a>
    </li>
    -->
    <li class="">
      Go back to 5minlab <a href="https://5minlab.com">Homepage</a>
    </li>
  </ul>
</footer>
</div>
{% endblock %}
