{% extends 'layout.j2' %}

{% block body_top %}
<div class="body-top">
  <header class="header-title">
    <h1 hidden>Brickscape</h1>
    <div class="game-logo">
      <img src="/img/logos/title.png"/>
    </div>
  </header>
</div>
{% endblock %}

{% block body_middle %}
<div class="body-middle">
  <header class="header-cube">
    <section class="underlay-cube">
    </section>

    <video id="game-play-video-orig" controls autoplay loop/>
      <source src="/img/index/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <canvas id="game-play-video-transparent" width="640" height="480"></canvas>
  </header>
</div>
{% endblock %}

{% block content %}
<div class="play-trailer-wrapper">
  <a href="#" class="play-trailer">
    <img src="/img/index/moviebt.png"/>
  </a>
</div>

<section class="trailer-video">
  <div class="video-wrapper">
  <iframe width="640" height="390" class="youtube-player-iframe"
    src="https://www.youtube.com/embed/zEe9A-R7IB8?enablejsapi=1&version=3&playerapiid=ytplayer"
    allowscriptaccess="always"
    frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<div class="download">
  <a href="https://play.google.com/store/apps/details?id=com.fiveminlab.brickscape" class="anchor" target="_blank">
    <img src="/img/index/badges/en_badge_web_generic.png" class="pure-img store-logo store-logo-google-play" alt="google play version/">
  </a>

  <a href="https://itunes.apple.com/us/app/brickscape/id1233962836?mt=8" class="anchor" target="_blank">
    <img src="/img/index/badges/Download_on_the_App_Store_Badge_US-UK_135x40.svg" class="pure-img store-logo store-logo-app-store" alt="app store version/">
  </a>
</div>

<div class="content">
<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc index-desc-large">
      <span class="upper-case">
      Addictive 3D puzzle to wake up your brain Move bricks to take out the Core Brick
      </span>
    </p>
  </div>
</div>

<div class="pure-g popup-gallery">
  <div class="cube-wrapper cube-wrapper-1">
    <a href="/img/screenshots/resize_large_01.jpg" title="">
      <img src="/img/screenshots/cube-resize_01.png" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="cube-wrapper cube-wrapper-2">
    <a href="/img/screenshots/resize_large_02.jpg" title="">
      <img src="/img/screenshots/cube-resize_02.png" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="cube-wrapper cube-wrapper-3">
    <a href="/img/screenshots/resize_large_03.jpg" title="">
      <img src="/img/screenshots/cube-resize_03.png" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="cube-wrapper cube-wrapper-4">
    <a href="/img/screenshots/resize_large_04.jpg" title="">
      <img src="/img/screenshots/cube-resize_04.png" class="pure-img screenshot"/>
    </a>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h2 class="index-desc upper-case">
      How to play
    </h2>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc">
      Move Core Brick to the exit.<br/>
      Every brick has to be moved in an elongated direction.<br/>
      You can't move bricks out of the box.
    </p>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h2 class="index-desc upper-case">
      Features
    </h2>
  </div>
</div>

<div class="pure-g">
  <ul class="pure-u-1 list-features">
    <li class="">Meet more than <b>600 brain teasing stages</b> in 12 aesthetic themes.</li>
    <li class=""><b>Simple and easy</b> play for everyone.</li>
    <li class="">5 difficulty levels; from easy to master.</li>
    <li class=""><b>Choose your favorite level</b>: You don't need to clear them in order.</li>
    <li class=""><b>Daily Puzzle Mode</b>: Compete with other players around the world.</li>
    <li class="">Unlike other puzzle games, <b>there is no time limit</b>.</li>
    <li class="">Enjoy our <b>brilliant and unique brick texture and sound design</b>.</li>
    <li class=""><b/>Ask for 'Hint'</b> when needed, and use <b>'Undo'</b> feature to correct mistakes.</li>
    <li class=""><b>No Internet connection required</b> to play.</li>
  </ul>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc index-desc-summary">
      <span class="upper-case">
      Play Brickscape now<br/>
       on your phones and tablets!
      </span>
    </p>
  </div>
</div>

<footer class="pure-g content footer-head">
  <ul class="pure-u-1">
    <li class="upper-case">
      Like Our <a href="https://www.facebook.com/5minlab/" class="upper-case">Page!</a>
    </li>
    <li class="upper-case">
      Need Support? <a href="mailto:helpers@5minlab.com" class="upper-case">Mail us</a>
    </li>
    <li class="upper-case">
      For business enqueries <a href="mailto:contact@5minlab.com" class="upper-case">Here</a>
    </li>
    <li class="upper-case">
      Press kit: <a href="{{ press_link }}" class="upper-case">Brickscape Press Kit</a>
    </li>
    <li class="upper-case">
      Go back to 5minlab <a href="https://5minlab.com" class="upper-case">Homepage</a>
    </li>
  </ul>
</footer>
</div>
{% endblock %}
